

.container-blue{
    background-color: var(--color-secondary);
    color: var(--color-white);
    line-height: 2;
    z-index: 1; 
}


.contain-blue{
    padding: 1rem;
    max-width: 400px; 
    margin: 0 auto; 
}

.h1-home {
margin-bottom: 2rem;
font-size: 1.1em;
}

.h1-secondary{
    color: var(--color-secondary);
}

.list-number{
    background-color: var(--color-primary);
   padding: 0.2rem;
   padding-right: 0.8rem;
   padding-left: 0.8rem;
   border-radius:40%;
margin-right: 0.2rem;

}

.list {
   font-size: 0.9em;
}

.arrondi {
    text-align: center; 
}

.arrondi img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
}

.artisans-mois{
    margin-left: 1em;
    margin-right: 1em;
}

.dash-title{
    padding-left: 3em;
}

.dash {
    color: var(--color-primary);
    margin: -0.3em;
    font-size: 5rem;
    line-height: 0.2em;
}

.artisans-grid{
    max-width: 900px; 
    margin: 0 auto;
}

.artisan-card {
    background-color: var(--color-white);
    color: var(--color-dark);
    text-align: center;
    padding: 2rem;
    margin-bottom: 1em;
    border: 2px solid transparent;
    transition: border-color 0.3s ease, transform 0.3s ease; 
}

.artisan-card:hover {
    border-color: var(--color-primary); 
    cursor: pointer;
}

.artisan-card .arrow {
    display: inline-block;
    color: var(--color-primary);
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.artisan-card:hover .arrow {
    transform: scale(1.1); 
    color: var(--color-secondary);
}

.artisan-card h2{
    font-size: 1.1em;
    color: var(--color-secondary);
    padding-bottom: 1em;
}

.arrow {
    display: inline-block;
    color: var(--color-primary); 
    font-size: 1.5rem; 
}

.button-home {
    text-align: center;
}

.button-home button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 5px 40px 5px 40px;
    border-radius: 20px !important;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.button-home button:hover {
    background-color: var(--color-secondary); 
    transform: scale(1.1); 
}

/* Responsive à partir des écrans  tablet*/
@media (min-width: 768px) {
    .main-container, .contain-blue {
        max-width: 900px; 
        margin: 0 auto; 
    }

    .contain-blue {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        flex-wrap: wrap; 
        padding-top: 3rem;
        padding-bottom: 3rem;
        
    }

    .h1-home {
        flex: 1; 
        text-align: left; 
        margin-bottom: 0; 
        font-size: 1.6em;
        max-width: 30%;
    }

    .h1-primary{
        margin-left: 2em;
    }

  

    .list {
        flex: 1; 
        text-align: left; 
        max-width: 70%;
        margin-left: 5em;
        font-size: 1em;
    }
   
     

    .artisans-grid {
        display: flex;
        gap: 5px; 
        flex-flow: row wrap;
        padding-top: 2em;
        max-width: auto; 
    }
    
    .artisan-card {
        flex: 1 1 calc(33.333% - 10px); 
        max-width: calc(33.333% - 10px);
        min-width: calc(33.333% - 10px);
        
    }
    
}

