.navbar {
    background-color: white; 

  }

  .navbar-logo {
    max-width: 200px; 
    height: auto; 
}

  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: var(--secondary-color);
    transition: color 0.3s ease;
  }
  
  .icon-loupe{
    color: var(--color-primary); 
    font-size: 2rem;
  }

  .icon-burger{
    transform: rotate(180deg);
    font-size: 3rem;
    border: none;
    color: var(--color-primary);
  }

  .navbar-toggler {
    border: none !important;
  }

  .icon-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-text {
  font-size: 0.9rem; 
  color: var(--color-primary); 
}

  
  /* Barre de recherche (visible sur grands écrans) */
.search-bar {
    max-width: 400px;
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    margin-right: 0.5rem;
}

.search-bar button {
    white-space: nowrap;
}

/* Icône de recherche (visible uniquement sur mobile) */
.search-icon {
  color: var(--color-primary); 
    font-size: 1.5rem;
   

}

/* Icône pour mobile (masquer barre sur grands écrans) */
.d-lg-none {
    display: none;
}

.search-menu-mobile{
  display: flex;
}

@media (max-width: 992) {
    .d-lg-none {
        display: inline-block;
    }
    .d-lg-flex {
        display: none !important;
    }
}

@media (max-width: 369px) {

  .navbar-logo {
    max-width: 180px; 
    height: auto; 
}
}


@media (max-width: 369px) {
  .navbar {
    display: flex;

  }
  .navbar-logo {
    max-width: 210px; 
    height: auto; 
}
   

.container-fluid{
   flex-direction: column; 
    align-items: center;
    text-align: center;
}
}


