.navbar {
    background-color: white; 
    max-width: 900px; 
    margin: 0 auto;
  }

  .navbar-logo {
    max-width: 200px; 
    height: auto; 
}
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: var(--secondary-color);
    transition: color 0.3s ease;
  }
  
  .icon-loupe{
    color: var(--color-primary); 
    font-size: 2rem;
  }

  .icon-loupe-d{
    color: var(--color-primary); 
    font-size: 1rem;
    padding: 0.5rem;
  }


  .icon-burger{
    transform: rotate(180deg);
    font-size: 3rem;
    border: none;
    color: var(--color-primary);
  }

  .navbar-toggler {
    border: none !important;
  }

  .icon-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-text {
  font-size: 0.9rem; 
  color: var(--color-primary); 
}

  
  /* Barre de recherche (visible sur grands écrans) */
.search-bar {
    max-width: 300px;
    display: flex;
    align-items: center;
    border-block-end: 1px solid var(--color-primary); /* Bordure en bas */
    border-inline-end: 1px solid var(--color-primary); /* Bordure à droite */
}

.search-bar input {
    flex: 1;
    margin-right: 0.5rem;
    border: none;
}

.search-bar button {
    white-space: nowrap;
}

/* Icône de recherche (visible uniquement sur mobile) */
.search-icon {
  color: var(--color-primary); 
    font-size: 1.5rem;
}

/* Icône pour mobile (masquer barre sur grands écrans) */
.d-lg-none {
    display: none;
}

.search-menu-mobile{
  display: flex;
}

.nav-item {
  margin-left: 2em;
}

.nav-item:hover {
  text-decoration: underline;
}

::placeholder {
  opacity: 0.7 !important; 
  font-size: 0.9em;
}






@media (max-width: 369px) {

  .navbar-logo {
    max-width: 180px; 
    height: auto; 
}
}


@media (max-width: 369px) {
  .navbar {
    display: flex;

  }
  .navbar-logo {
    max-width: 210px; 
    height: auto; 
}
   

.container-fluid{
   flex-direction: column; 
    align-items: center;
    text-align: center;
}
}


@media (min-width: 992px) {
.loupe-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Toujours aligné à droite */
 
  }
}
